* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  background-color: rgb(29, 29, 29);

  font-family: "Sometype Mono", monospace;
}

.page,
.wrapper {
  display: grid;
  place-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-family: "Arvo", serif;
  font-size: 3rem;
  color: rgb(19, 19, 48);

  background-color: rgb(202, 196, 245);

  margin-bottom: 2.5rem;
  border-radius: 2rem;
  padding: 1.5rem;
}

p,
label {
  font-size: 1.5rem;
  color: blanchedalmond;
}

.mathematicalOperator {
  width: 15.5rem;
}

fieldset {
  border: none;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin: 2rem;
}

input {
  border: none;

  border-radius: 2rem;

  width: 20%;
}

.send {
  background-color: yellowgreen;

  border: none;

  padding: 1.5rem;
  border-radius: 1.5rem;

  font-size: 1.5rem;
  font-family: "Arvo", serif;
  font-weight: bold;
  color: rgb(48, 47, 47);

  width: 30%;

  cursor: pointer;
}

.send:hover {
  background-color: rgb(76, 108, 12);
  color: rgb(17, 17, 17);
}
